
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    text-align: left;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    text-align: start;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 6rem;
    text-align: left;
  }

  .emoji{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 20%;
    grid-template-areas: 10px;
  }

  .emoji{
    border-radius: 10px;
    padding: 20px;
  }
  
  .emoji {
    display: flex;
    flex-direction: column;
  }

.emojis{
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column row;
  align-items: flex-start; 
}
.emoji{
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

